<!DOCTYPE html>
<html lang="pt-br"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastrar Estados</h1>
    <form action="/salvarEstado" th:object="${estado}" method="post">
        <h2>Cadastro</h2>
        <input type="text" name="estado" id="estado" placeholder="Estado" class="cfo" th:field="*{nome}">
        <input type="text" name="sigla" id="sigla" placeholder="Sigla" class="cfo" th:field="*{sigla}">
        <button id="btn" class="cfo" type="submit">Cadastar</button>
    </form>
</body>
</html>